// Override Bootstrap variables
$theme-colors: (
  "primary": #677b8c,
);

@import "~bootstrap/scss/bootstrap";

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #eff1f3;
}

::selection {
  color: white;
  background: #eff1f3;
}