// Override Bootstrap variables
$theme-colors: (
  "primary": #677b8c,
);

@import "~bootstrap/scss/bootstrap";

// Override text selection color
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: theme-color("primary");
}

::selection {
  color: white;
  background: theme-color("primary");
}

body {
  width: 100%;
  height: 100%;
}

//.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
//  padding: 0;
//  height: 100%;
//}