---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target="#toc">
    {% include sidebar.html %}
    <div id="main-wrapper">
      {% include topbar.html %}
      <div id="main" class="w-100">
        {% capture _content %}
          {{ content }}
        {% endcapture %}

        {% include fixlinenos.html %}
        {{ _content }}

        {% include footer.html %}
      </div>
    </div>
    <div id="mask"></div>
    <a id="back-to-top" href="#" class="btn btn-lg btn-box-shadow position-fixed" role="button">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
