h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

h2 {
  font-size: 1.35rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 1.1rem;
}

h2, h3, h4 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 5px solid var(--blockquote-border, #eee);
  padding-left: 1rem;
  color: var(--blockquote-text, #9a9a9a);
}

.post-content blockquote a {
  color: var(--link-color, #2a408e);
}

kbd {
  margin: 0 .3rem;
}

h2, h3, h4, sup {
  padding-top: 3.5rem;
  margin-top: -2.5rem;
}

.footnotes ol {
  margin-top: .5rem;
}

.footnotes ol>li {
  padding-top: .2rem;
  margin-top: -0.2rem;
}

.footnotes ol>li>p {
  padding-left: .2em;
}

.footnotes ol>li:not(:last-child) {
  margin-bottom: -.8rem;
}

.footnotes ol>li:target>p {
  background-color: lightcyan;
  width: fit-content;
  -webkit-transition: background-color 1.5s ease-in-out; /* Safari prior 6.1 */
  transition: background-color 1.5s ease-in-out;
}

a.footnote {
  margin: 0 .2em;
  -webkit-transition: background-color 1.5s ease-in-out; /* Safari prior 6.1 */
  transition: background-color 1.5s ease-in-out;
}

sup:target>a.footnote {
  background-color: lightcyan;
  padding: 0 2px;
  outline: thin dotted;
}

a.reversefootnote {
  font-size: .6rem;
  position: absolute;
  line-height: 1;
  padding-top: .5em;
  margin-left: .5em;
  border-bottom-style: none !important;
}

.post-content a {
  color: $post-content-link-color;
  border-bottom: 1px dotted var(--link-underline-color, #c2c6cc);
}

p>a, span>a,
.post-preview a,
.categories a,
#tags a,
#page-category a,
#page-tag a,
#archives a {
  color: $black;
}

.categories a,
#archives a,
#page-tag a,
#page-category a {
  border-bottom: none;
}

.post h1 {
  margin-top: $post-h1-mt;
}

.post em { /* MarkDown italic */
  padding-right: .2rem;
}
