$site-color: #202020;
$white: #ffffff;
$black: #000000;
$gray-1: #f9f9f9;
$gray-2: #e5e5e5;
$gray-3: #ccc;
$gray-4: #767676;
$gray-5: #515151;
$gray-6: #313131;


$root-font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
$root-font-size: 1rem;
$link-hover-color: #3ad2be;
$bootstrap-max-sm: 767.98px;
$bootstrap-min-md: 768px;
$bootstrap-max-md: 991.98px;
$bootstrap-min-lg: 992px;

$body-bg-color: #fafafa;
$body-text-color: #212529;

$sidebar-width: 330px;
$sidebar-width-two: 250px;
$sidebar-bg-color: $site-color;
$sidebar-title-color: $white;
$sidebar-title-size: 3.7rem;
$sidebar-title-font-family: "Abril Fatface", serif;
$sidebar-subtitle-color: #b6b6b6;
$sidebar-subtitle-size: 1.5rem;
$sidebar-subtitle-font-family: 'Segoe UI';
$sidebar-nav-default: gray;
$sidebar-nav-hover: $gray-3;
$sidebar-nav-active: $white;

$topbar-height: 3rem;
$topbar-bg-color: $white;
$topbar-title-font-size: 1.1rem;
$topbar-title-color: #4e4e4e;
$topbar-breadcrumb-font-size: 1rem;
$topbar-breadcrumb-color: gray;

$footer-height: 3rem;
$footer-font-size: 0.8rem;
$footer-text-color: gray;
$footer-bg-color: #f3f3f3;

$post-nav-grey: #e9ecef;
$disable-color: #cec4c4;

$post-h1-mt: 3rem;
$post-content-link-color: #2a408e;
$post-content-color: dimgray;
$page-item-color: #555555;
$page-item-font: 'Lato', sans-serif;
$page-item-background-color: gray;
$page-item-border-color: #f1f1f1;

$blockquote-border-color: #eee;
$blockquote-color: #9a9a9a;
$post-content-link-border: #c2c6cc;

$code-highlighter-rouge: #e9ecef;
$highlight-bg-color: #f7f7f7;
$highlighter-rouge-color: black;
$highlight-lineno-color: #c2c6cc;
$highlight-lineno-border-color: #e9ecef;
