@import "../../assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~tocbot/src/scss/tocbot";

.post-toc {
  top: 0;
  height: 100%;
}

.toc-header {
  color: theme-color("primary");
}

.toc-list {
  margin: 0;
  padding-left: 15px;
  font-size: 14px;
}

a.toc-link {
  color: theme-color("primary");
}

.is-active-link::before {
  background-color: theme-color("primary");
}