@import "../../assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.post-toc {
  top: 0;
  height: 100vh;
}

.toc-header {
  color: theme-color("primary");
}

.bs-docs-sidebar ul {
  list-style: none;
  padding-inline-start: 20px;
}

.bs-docs-sidebar > ul {
  padding: 0;
}

.bs-docs-sidebar a {
  font-size: 13px;
  font-weight: 400;
}

.bs-docs-sidebar a:hover,
.bs-docs-sidebar a:focus {
  font-weight: 600;
}
