---
layout: page
---

<div class="timeline_header">
    <h1>Textbook Reading Plan</h1>
    <h2>The following timeline outlines the textbooks I plan to read to learn more about the brain and artificial
        intelligence. Green means completed, yellow means doing, red means to do, and grey means dropped.</h2>
</div>
<div class="timeline">
    <div>
        <section class="year">
            <h3>2018</h3>
            <section>
                <ul class="done">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2018-06-01-neuroscience-exploring-the-brain %}">Neuroscience:
                            Exploring the Brain</a>
                    </li>
                    <li>
                        <span class="authors">Mark F. Bear, Barry W. Connors, Michael A. Paradiso</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="done">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2018-08-01-the-quest-for-artificial-intelligence %}">The
                            Quest for Artificial Intelligence</a>
                    </li>
                    <li>
                        <span class="authors">Nils J. Nilsson</span>
                    </li>
                </ul>
            </section>
        </section>
        <section class="year">
            <h3>2019</h3>
            <section>
                <ul class="done">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2019-03-23-cognitive-science-an-introduction-to-the-science-of-the-mind %}">Cognitive
                            Science: An Introduction to the Science of the Mind</a>
                    </li>
                    <li>
                        <span class="authors">Jose L. Bermudez</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="dropped">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2019-04-10-artificial-intelligence-a-modern-approach %}">Artificial
                            Intelligence: A Modern Approach</a>
                    </li>
                    <li>
                        <span class="authors">Stuart Russell, Peter Norvig</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="done">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2019-05-08-after-digital-computation-as-done-by-brains-and-machines %}">After
                            Digital: Computation as Done by Brains and Machines</a>
                    </li>
                    <li>
                        <span class="authors">James A. Anderson</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="done">
                    <li>
                        <a href="{{ site.baseurl }}{% post_url /textbooks/2019-06-02-deep-learning-with-python %}">Deep
                            Learning with Python</a>
                    </li>
                    <li>
                        <span class="authors">Francois Chollet</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="done">
                    <li>
                        <a
                            href="{{ site.baseurl }}{% post_url /textbooks/2019-08-01-how-to-build-a-brain-a-neural-architecture-for-biological-cognition %}">How
                            to Build a Brain: A Neural Architecture for Biological Cognition</a>
                    </li>
                    <li>
                        <span class="authors">Chris Eliasmith</span>
                    </li>
                </ul>
            </section>
        </section>
        <section class="year">
            <h3>2020</h3>
            <section>
                <ul class="done">
                    <li>
                        <a href="{{ site.baseurl }}{% post_url /textbooks/2020-01-15-eloquent-javascript %}">Eloquent JavaScript</a>
                    </li>
                    <li>
                        <span class="authors">Marijn Haverbeke</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="doing">
                    <li>
                        <a href="">Fundamentals of Computational Neuroscience</a>
                    </li>
                    <li>
                        <span class="authors">Thomas Trappenberg</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Developmental Cognitive Neuroscience</a>
                    </li>
                    <li>
                        <span class="authors">Mark Johnson, Michelle Haan</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Brain & Behavior: An Introduction to Biological Psychology</a>
                    </li>
                    <li>
                        <span class="authors">Bob Garrett</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="dropped">
                    <li>
                        <a href="">Deep Learning</a>
                    </li>
                    <li>
                        <span class="authors">Ian Goodfellow, Yoshua Bengio, Aaron Courville</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Cognitive Neuroscience: The Biology of the Mind</a>
                    </li>
                    <li>
                        <span class="authors">Michael Gazzaniga, Richard Ivry, George Mangun</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="dropped">
                    <li>
                        <a href="">Reinforcement Learning: An Introduction</a>
                    </li>
                    <li>
                        <span class="authors">Richard S. Sutton, Andrew G. Barto</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Theoretical Neuroscience: Computational and Mathematical Modeling of Neural
                            Systems</a>
                    </li>
                    <li>
                        <span class="authors">Peter Dayan, Larry Abbot</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Biopsychology</a>
                    </li>
                    <li>
                        <span class="authors">John Pinel, Steven Barnes</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Cognition</a>
                    </li>
                    <li>
                        <span class="authors">Margaret Matlin</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Pattern Recognition and Machine Learning</a>
                    </li>
                    <li>
                        <span class="authors">Christopher Bishop</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Fundamentals of Neural Science</a>
                    </li>
                    <li>
                        <span class="authors">Eric Kandel</span>
                    </li>
                </ul>
            </section>
        </section>
        <section class="year">
            <h3>????</h3>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Cognitive Psychology and Its Implications</a>
                    </li>
                    <li>
                        <span class="authors">John Anderson</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Emergence: Contemporary Readings in Philosophy and Science</a>
                    </li>
                    <li>
                        <span class="authors">Mark Bedau, Paul Humphreys</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Parallel Distributed Processing, Volume 1: Foundations</a>
                    </li>
                    <li>
                        <span class="authors">David E. Rumelhart, James L. McClelland, PDP Research Group</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Parallel Distributed Processing, Volume 2: Psychological and Biological Models</a>
                    </li>
                    <li>
                        <span class="authors">David E. Rumelhart, James L. McClelland, PDP Research Group</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Analog VLSI and Neural Systems</a>
                    </li>
                    <li>
                        <span class="authors">Carver Mead</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Neural Engineering</a>
                    </li>
                    <li>
                        <span class="authors">Chris Eliasmith, Charles H. Anderson</span>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="todo">
                    <li>
                        <a href="">Explaining the Brain</a>
                    </li>
                    <li>
                        <span class="authors">Carl F. Craver</span>
                    </li>
                </ul>
            </section>
        </section>
    </div>
</div>
