--- 
layout: page 
--- 
{% unless page.content == '' %} 
    {{ content }} 
{% endunless %}

<div class="header">
    <h1>Textbook Reading Plan</h1>
    <h2>A timeline that shows my plan for getting through various textbooks. 
    My plan is to follow a "tick-tock" cycle where I alternate between neuroscience and
    computer science. I'm doing my primary studying during my internship as I have
    free time but this will change when I return to school.</h2>
</div>
<div class="item">
    <div id="timeline">
        <div>
            <section class="year">
                <h3>2018</h3>
                <section>
                    <ul>
                        <li>Neuroscience: Exploring the Brain</li>
                        <li><span class="authors">Mark Bear, Barry Connors, Michael Paradiso</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>The Quest for Artificial Intelligence</li>
                        <li><span class="authors">Nils Nilsson</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Cognitive Science: An Introduction to the Science of the Mind</li>
                        <li><span class="authors">Jose Bermudez</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Artificial Intelligence: A Modern Approach</li>
                        <li><span class="authors">Stuart Russell, Peter Norvig</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Brain & Behavior: An Introduction to Biological Psychology 
                        OR Cognitive Neuroscience: The Biology of the Mind</li>
                        <li><span class="authors">Bob Garrett OR Michael Gazzaniga, Richard Ivry, and George Mangun</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Deep Learning</li>
                        <li><span class="authors">Ian Goodfellow, Yoshua Bengio, Aaron Courville</span></li>
                    </ul>
                </section>

            </section>
            <section class="year">
                <h3>2019</h3>
                <section>
                    <ul>
                        <li>Fundamentals of Computational Neuroscience</li>
                        <li><span class="authors">Thomas Trappenberg</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Deep Learning with Python OR Hands-On Machine Learning with Scikit-Learn & TensorFlow</li>
                        <li><span class="authors">Francois Chollet OR Aurelien Geron</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Fundamentals of Cognitive Neuroscience: A Beginner's Guide</li>
                        <li><span class="authors">Bernard Baars, Nicole Gage</span></li>
                    </ul>
                </section>
            </section>
            <section class="year">
                <h3>????</h3>
                <section>
                    <ul>
                        <li>Probability Theory: The Logic of Science</li>
                        <li><span class="authors">E.T. Jaynes</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>[INSERT SOME MATH TEXTBOOKS/ Brush up on my calculus]</li>
                        <li><span class="authors">Francois Chollet OR Aurelien Geron</span></li>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Cognition</li>
                        <li><span class="authors">Margaret Matlin</span></li>
                    </ul>
                </section>
            </section>
            <!--
            <section class="year">
                <h3>2008</h3>
                <section>
                    <h4>August</h4>
                    <ul>
                        <li>Neal Kin, Vladimir Oksman, and Charles Bry file an application for an encryption patent application.</li>
                        <li>Bitcoin.org was registered at
                            <a href="https://anonymousspeech.com/">anonymousspeech.com</a>.</li>
                    </ul>
                </section>
                <section>
                    <h4>October</h4>
                    <ul>
                        <li>Nakamoto describes the Bitcoin currency and solves the problem of double spending.</li>
                    </ul>
                </section>
                <section>
                    <h4>November</h4>
                    <ul>
                        <li>The Bitcoin project is registered on
                            <a href="https://sourceforge.net/">SourceForge.net</a>.</li>
                    </ul>
                </section>
            </section>
            -->
        </div>
    </div>
</div>
